@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #2D2C34;

    font-family: Inter;

    /* vh = volle Höhe des Browser-Fensters */
    height: 100vh;
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #B7AADF;

    height: 545px;
    width: 469px;
}

h1 {
    position: relative;
    padding-top: 50px;
    
    font-family: Inter;
    font-weight: bold;
    color: black;
}

.username_input,
.password_input {
    position: relative;

    margin-top: 60px;
    right: 12px;
}

.password_input {
    margin-top: 40px;
}

.username_input i,
.password_input i {
    position: relative;

    left: 29px;
    color: #999;
}

#username,
#password {
    padding-top: 5%;
    padding: 0 0 0 31px;

    width: 200px;
    height: 50px;

    border-radius: 17px;
    border: none;
    
    color: black;
    font-size: 15px;
}

#username::-webkit-input-placeholder,
#password::-webkit-input-placeholder {
    font-weight: bold;
}


.login_button{
    padding-top:60px;
}

.login_button button{
    width: 225px;
    height: 40px;
    
    font-size: 17px;
    font-weight: bold;
    color:white;
    

    background-color: #443471;
    
    border: none;
    border-radius: 100px;   
}

#no_account{
    text-align: center;
}

#sign_up {
text-align: center;
}