body{
    background-color:#2D2C34;
    color: white;
}

.NP_UI{
    display: flex;
    flex-direction: column;
}

.NP_UI_Heading{
    display: flex;
    flex-direction: row;
}

.NP_UI_Heading h1{
    font-size: 55px;
    margin-left: 12px;
    letter-spacing: -0.5;
}

.NP_UI_Heading i{
    font-size: 55px;
    margin-top: 33px;
}

.NP_UI_input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NP_UI_input input, textarea{
    background-color: #D9D7E2;
    font-size: 22px;
    width: 90%;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#ProDes{
    height: 200px;
    margin-top: 40px;
}

#ProNam {
    height: 88px;
    font-size: 36px;
}

.NP_UI_horinput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90.4%;
    margin-top: 40px;
}

.NP_UI_horinput input{
    width: 45%;
    height: 250px;
}

.NP_UI_create{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    margin-top: 20px;
}

.NP_UI_create button{
    height: 50px;
    width: 250px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items : center;
    border: #079214 solid 2px;
    background-color: #D9D7E2;
    cursor: pointer;
}

.NP_UI_create button p {
    margin-left: 15px;
}

.NP_UI_create button:hover{
    background-color: #079214;
}
