
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body{
    background-color:#2D2C34;
    color: white;
    font-family: Inter;
    zoom: 95%;
}

.NP_UI{
    display: flex;
    flex-direction: column;
}

.NP_UI_Heading{
    display: flex;
    flex-direction: row;
}

.NP_UI_Heading img{
    width: 110px;
    height: 110px;
    cursor: pointer;
}

.NP_UI_Heading h1{
    font-size: 48px;
    margin-left: 12px;
    letter-spacing: -2.0px;
}
hr{
    color: grey;
    border-width: 1px;
    margin-top: -3px;
    margin-left: 0;
    margin-right: 0;
    display: block;
    border-style: solid;
    width: 100%;
}

.NP_UI_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.NP_UI_input input, textarea{
    background-color: #D9D7E2;
    font-size: 22px;
    width: 90%;
    border-radius: 10px;
    font-family: Inter;
}

#ProDes{
    height: 150px;
    margin-top: 40px;
    padding: 10px 0 0 20px;
    width: 88.2%;
    border: none;
}

#ProNam {
    height: 70px;
    font-size: 32px;
    padding: 0 0 0 20px;
    width: 88.2%;
}

.NP_UI_horinput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 89.8%;
    margin-top: 40px;
}

.NP_UI_horinput input{
    width: 45%;
    height: 250px;
}

.NP_UI_addMF{
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 45%;
}

.addMF_input{
    display: flex;
    flex-direction: row;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #D9D7E2;
}

.autocomplete-suggestions {
    border: 1px solid #d4d4d4;
    margin-top: 40px;
    max-height: 150px;
    min-width: 60px;
    overflow-y: auto;
    margin-left: 20px;
    position: absolute;
    background-color: white;
    color: black;
    z-index: 1000;
}
.autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
}
.autocomplete-suggestion:hover {
    background-color: #e9e9e9;
}

#nameinput{
    height: 50px;
    width: 85%;
    flex-grow: 2;
    border: none;
    padding: 0 0 0 20px;

}

#namesubmit{
    height: 100%;
    border-top-right-radius: 5px;
    width: 10%;
    background-color: #389678;
    border:none;
    cursor: pointer;
    font-size:22px;
}

#namesubmit:hover{
    background-color: #44a787;
}

 
.flash_list{
    background-color: #D9D7E2;
}

.flash_list ul{
    color: red;
    list-style-type: none;
}

.mf_list{
    background-color: #D9D7E2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    margin-top: 0;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    list-style-type:none;
}

.buttons_cr_ca{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 20px;
}

.NP_UI_back_to_d{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 78px;
}

.NP_UI_back_to_d button{
    height: 50px;
    width: 250px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items : center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #C92937;   /*1*/
    transition: all 800ms;
    overflow: hidden;
    outline: 2px solid #C92937; /*1*/
    cursor: pointer;
}

.NP_UI_back_to_d button p{
    margin-left: 15px;
}

.NP_UI_back_to_d button:hover{
    color: #fff;
    transform: scale(1.1);
    outline: 2px solid #de434f;  /*2*/
    box-shadow: 4px 5px 17px -4px #b02430;  /*3*/
}

.NP_UI_back_to_d button::before{
    content:"";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #C92937; /*1*/
    transform: skewX(45deg);
    z-index: -1;
    transition: width 800ms;
}

.NP_UI_back_to_d button:hover::before{
    width: 250%;
}

.NP_UI_create{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.NP_UI_create button{
    height: 50px;
    width: 250px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items : center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #44a787;
    transition: all 800ms;
    overflow: hidden;
    outline: 2px solid #44a787;
    cursor: pointer;
}

.NP_UI_create button p {
    margin-left: 15px;
}

.NP_UI_create button:hover{
    color: #fff;
    transform: scale(1.1);
    outline: 2px solid #53c4a0;
    box-shadow: 4px 5px 17px -4px #389678;
}

.NP_UI_create button::before{
    content:"";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #44a787;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 800ms;
}

.NP_UI_create button:hover::before{
    width: 250%;
}

input:focus,
textarea:focus{
    outline: none;
}
