body {
    background-color: #2D2C34;
}

h1 {
    color: #CDC4DE;
    margin-left: 20px;
}

 
.table{
    display: flex;
    justify-content: center;
    align-content: center;
}

.projects-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 30px;
  
}

caption {
    text-align: left; /* Ausrichtung des Titels */
    caption-side: top; /* Platzierung des Titels */
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: 10px;
    color: white;
}


table tbody {
    border-top: 20px solid #2D2C34;
}


.projects-table tr {
    border-bottom: 5px solid #2D2C34;
    background-color: #CDC4DE;
    text-align: center;
}

.projects-table th{
    cursor: default;
}
.projects-table td {
    cursor: pointer;
}



.projectsname {
    font-weight: bold;
}
.projects-table th, .projects-table td {
    padding: 20px;
    border: none;

}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}
