
/* font: Inter regular, semiBold(600), bold */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body {
    background-color: #2D2C34;

    /* um gegen unschärfe beim zoomen des textet vor zu gehen*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    zoom: 75%;
}


h1 {
    font-family: Inter;
    font-weight: bold;

    color: #CDC4DE;
    margin-left: 20px;

}


.table {
    display: flex;
    justify-content: center;
    align-content: center;
}

.projects_table {
    width: 90%;
    border-collapse: collapse;
    margin-top: auto;

}

caption {
    text-align: left;
    /* Ausrichtung des Titels */
    caption-side: top;
    /* Platzierung des Titels */
    font-weight: normal;
    margin-bottom: 20px;
    color: white;
}


.captioncontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.captioncontent h2 {

    font-family: Inter;
    font-weight: bold;
    font-size: 75px;

    height: 0px;
    outline: none;
    border: none;
    margin-top: 90px;
}

.captioncontent button {

    display: flex;
    background-color: white;
    

    height: 50px;
    width: 210px;
    outline: none;


    border-radius: 8px;
    border: none;

    margin-top: 150px;
    text-align: center;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.captioncontent button:hover {
    background-color: #389678;
    outline: 1px solid #389678 ;
    color: white;
    transform: scale(1.12);
}

.new_project_button i {

    font-size: 28px;
}

/* Stil für den Text im Button */
.button_text {
    font-family: Inter;
    font-size: 25px;
    font-weight: bold;
    margin-right: 12px;


    display: inline-block;
    position: relative;

}

hr {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


table tbody {
    border-top: 30px solid #2D2C34;
}



.projects_table tr {
    text-align: center;
    font-family: Inter;
    font-weight: normal;

    border-bottom: 15px solid #2D2C34;
    background-color: #CDC4DE;

}

/*TODO: Die erste Reihe darf NCIHT gehovert werden */


.projects_table tr:hover {
    background-color: white;
    border: none;
    transform: scale(1.03);
}

.projects_table th,
.projects_table td {
    padding: 20px;
    border: none;

}

.projects_table th {
    cursor: default;
    font-size: 30px;
    background-color: #CDC4DE;
}

.projects_table td {
    cursor: pointer;
    font-size: 25px;
}

.projects_button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.projectsname {
    font: Inter;
    font-weight: bold;
}


