
/* font: inter regular */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* font: inter semiBold */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/* font: inter bold */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    background-color: #2D2C34;

    /* um gegen unschärfe beim zoomen des textet vor zu gehen*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1 {
    font-family: Inter;
    font-weight: bold;

    color: #CDC4DE;
    margin-left: 20px;
 
}


.table {
    display: flex;
    justify-content: center;
    align-content: center;
}

.projects-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: auto;



}

caption {
    text-align: left;
    /* Ausrichtung des Titels */
    caption-side: top;
    /* Platzierung des Titels */
    font-weight:normal;
    margin-bottom: 20px;
    color: white;
}


.captioncontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.captioncontent h2 {
    font-family: Inter;
    font-weight: bold;
    font-size: 65px;
    
    height: 0px;
    outline: none;
    border: none;
    margin-top: 90px;


}

.captioncontent button {
   
    display: flex;
    background-color: #CDC4DE;
    
    height: 35px;
    width: 170px;
    outline: none;
    
    
    border-radius: 8px;
    border:none;

    margin-top: 150px;
    text-align: center;
    cursor: pointer;
    
    
}

.captioncontent button:hover {
    background-color: white;

}

.button-icon {
    margin-top: 4px;
    margin-right: 10px;
    /* Abstand zwischen Bild und Text */
    width: 25px;
    /* Anpassung der Breite des Bildes */
    height: 25px;
}

/* Stil für den Text im Button */
.button-text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

    display: inline-block;
    position: relative;
    top: 3px;
    
}



hr {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


table tbody {
    border-top: 30px solid #2D2C34;
}



.projects-table tr {
    text-align: center;
    font-family: Inter;
    font-weight: normal;

    border-bottom: 15px solid #2D2C34;
    background-color: #CDC4DE;
    
}
.projects-table tr:hover {
    background-color: white;
}

.projects-table th,
.projects-table td {
    padding: 20px;
    border: none;

}

.projects-table th {
    cursor: default;
    font-size: 30px;
    background-color: #CDC4DE;
}

.projects-table td {
    cursor: pointer;
    font-size: 25px;
}



.projectsname {
    font: Inter;
    font-weight: bold;

}


.projectsButton {
    background-color: transparent;
    border: none;
    padding: 0;
}