<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="annonymus"></script>
    <title>Dashboard</title>
</head>

<body>

<div class="title">
    <img alt="logo" src="../static/logo.png" class="logo">
    <h1>scienceHUB</h1>
</div>
   
<div class="table">
    <table class="projects_table">
        <caption>
            <div class="captioncontent">
                <h2>
                    Projects
                </h2>
                <button class="new_project_button" type="button" onclick="window.location.href='/NewProject';">
                    <i class="fa-solid fa-circle-plus"></i>
                    <!--img alt="buttonImage" src="../static/addIcon.svg" class="button_icon"-->
                    <span class="button_text">new project</span>
                </button>
            </div>

            <hr> </hr>

        </caption>
        
        <thead>
            <tr class="projectsInfo">
                <th>project name</th>
                <th>status</th>
                <th>role</th>
                <th>creator + members</th>
                <th>created on</th>
            </tr>
        </thead>

        <tbody>
            
            <!-- Hier werden von python die Daten eingesetzt -->
            {% for list in textForColumn %}
            <tr  class= "projects_button" onclick="window.location.href='/project/{{list[0]}}';">
                <td class="projectsname">{{list[0]}}</td>
                <td>{{list[1]}}</td>
                <td>{{list[2]}}</td>
                <td>{{list[3]}}</td>
                <td>{{list[4]}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

</body>
</html>
