<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Dashboard</title>
</head>

<body>

<h1>scienceHUB</h1>
   
<div class="table">
    <table class="projects-table">
        <caption>
            <div class="captioncontent">
                <h2>
                    Projects
                </h2>
                <button type="button" onclick="window.location.href='/NewProject';">
                    <img alt="buttonImage" src="../static/addIcon.svg" class="button-icon">
                    <span class="button-text">new project</span>
                </button>
            </div>

            <hr> </hr>

        </caption>
        
        <thead>
            <tr class="projectsInfo">
                <th>project name</th>
                <th>status</th>
                <th>role</th>
                <th>creator + members</th>
                <th>created on</th>
            </tr>
        </thead>

        <tbody>
            <tr class= "projectsButton" onclick="window.location.href='/project/aplabet_txt';">
                    <td class="projectsname">alphabet txt</td>
                    <td>closed</td>
                    <td>admin</td>
                    <td>me + 2 members</td>
                    <td>05.01.2023</td>  
            </tr>

            <!-- Hier werden von python die Daten eingesetzt -->
            {% for list in textForColumn %}
            <tr  class= "projectsButton" onclick="window.location.href='/project/{{list[0]}}';">
                <td class="projectsname">{{list[0]}}</td>
                <td>{{list[1]}}</td>
                <td>{{list[2]}}</td>
                <td>{{list[3]}}</td>
                <td>{{list[4]}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

</body>
</html>
