<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/edit_page.css">
    <title>NewProjectUI</title>
</head>
<body>
    <div class="EP_UI">
        <div class="EP_UI_Heading">
            <img src="../static/logo.png" alt="SiteLogo" onclick="window.location.href='/NewProject/back_to_dashboard';">
            <h1>scienceHUB</h1>
        </div>
        <hr>
        <div class="EP_UI_input">
            <input id="ProNam" type="text" value="{{project_name}}"  name="ProNam" maxlength="50"></input>
            <textarea id="ProDes" type="text" name="ProDes" maxlength="750">{{ project_description }}</textarea>
            <div class="EP_UI_horinput">
                <div class="EP_UI_editMF">
                    <form class="EditMF_input" method="POST" action="/edit_project/{{project_id}}/add_user_project">
                            <input id="nameinput" type="text" name="name" maxlength="25" placeholder="add member" required>
                            <button id="namesubmit" type="submit"><i class="fa-solid fa-user-plus"></i></button> 
                            <div id="autocomplete-list" class="autocomplete-suggestions"></div>
                    </form>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const name_input = document.getElementById('nameinput');
                            const autocomplete_list = document.getElementById('autocomplete-list');
                
                            name_input.addEventListener('input', function() {
                                const query = this.value;
                                if (query.length > 0) {
                                    fetch(`/NewProject/search_users?q=${query}`)
                                        .then(response => response.json())
                                        .then(data => {
                                            autocomplete_list.innerHTML = '';
                                            data.forEach(user => {
                                                const suggestion = document.createElement('div');
                                                suggestion.classList.add('autocomplete-suggestion');
                                                suggestion.textContent = "+  " + user.username;
                                                suggestion.addEventListener('click', function() {
                                                    name_input.value = user.username;
                                                    autocomplete_list.innerHTML = '';
                                                });
                                                autocomplete_list.appendChild(suggestion);
                                            });
                                        });
                                } else {
                                    autocomplete_list.innerHTML = '';
                                }
                            });
                
                            document.addEventListener('click', function(event) {
                                if (!autocomplete_list.contains(event.target) && event.target !== name_input) {
                                    autocomplete_list.innerHTML = '';
                                }
                            });
                        });
                    </script>
                    <div class="flash_list">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="flashes">
                                    {% for message in messages %}
                                    <li>! {{ message }} !</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <ul class="mf_list">
                        {% for member in project_members %}
                            <li>{{ member }}<i class="fa-solid fa-xmark" style="color: red; margin-right: 20px; cursor: pointer;" onclick="removeDiv(this)"></i></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="EP_UI_editMF">
                    <form class="EditMF_input" method="POST" action="/#">
                        <input id="nameinput" type="text" name="name" maxlength="25" placeholder="add funding" required>
                        <button id="namesubmit" type="submit"><i class="fa-solid fa-dollar-sign"></i></button>
                    </form>
                    <ul class="mf_list">
                        {% for funder in project_funders %}
                            <li>{{ funder }}<i class="fa-solid fa-xmark" style="color: red; margin-right: 20px;" onclick="removeDiv(this)"></i></li>
                        {% endfor %}
                    </ul>
                </div>

                <script>
                    function removeDiv(element){
                        element.parentElement.style.display = 'none';
                    }
                </script>

            </div>
        </div>
        <div class="buttons_cr_ca">
            <div class="EP_UI_back_to_d">
                <button type="button" onclick="window.location.href='/edit_project/{{project_id}}/back_to_project';"><i class="fa-solid fa-xmark"></i><p>cancel</p></button>
            </div>
            <div class="EP_UI_safe">
                <button type="button" onclick="window.location.href='/#';"><i class="fa-solid fa-cloud-arrow-up"></i><p>save changes</p></button>
            </div>
        </div>
    </div>
</body>
</html>