<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/login.css">
    <title>login</title>
</head>

<body>

    <div class="center">
        <h1> Welcome back </h1>
        
        <div class="username_input">
            <i class="fa-solid fa-circle-user"></i>
            <input id="username" type="text" placeholder="username">
        </div>

        <div class="password_input">
            <i class="fa-solid fa-lock"></i>
            <input id="password" type="password" placeholder="password">
        </div>

        <div class="login_button">
            <button >Log in </button>
        </div>

        <p id="no_account"> Don't have an account </br> <a id="sign_up" href='/sign_up'>Sign Up</a></p>
        <p>  </p>

    </div>

</body>