<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/login.css">
    <title>login</title>
</head>

<body>

    <div class="center">
        <h1> Welcome back </h1>
        
        <div class="input_container">
            <i class="fa-regular fa-circle-user"></i>
            <input id="username" type="text" placeholder="username" maxlength="50">
               
            </input>
        </div>
    </div>

</body>