<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/NewProjectUI.css">
    <title>NewProjectUI</title>
</head>
<body>
    <div class="NP_UI">
        <div class="NP_UI_Heading">
            <i class="fa-solid fa-house"></i>
            <h1>scienceHUB</h1>
        </div>
        <div class="NP_UI_input">
            <input id="ProNam" type="text" placeholder=" Project Name"></input>
            <textarea id="ProDes" type="text" placeholder=" description"></textarea>
            <div class="NP_UI_horinput">
                <input type="text" placeholder=" addMembers"></input>
                <input type="text" placeholder=" addFunders"></input>
            </div>
        </div>
        <div class="NP_UI_create">
            <button type="button">create project</button>
        </div>
    </div>
</body>
</html>