<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/project_page_style.css">
    <title>Register</title>
</head>
<body>
    <div class="page_header">
        <div class="logo_return">

        </div>
        <div class="log_out_button">

        </div>
    </div>
    <div class="project_page">
        <div class="project_name_buttons">
            <h1>Projectname</h1>
            <p>(Status)</p>
            <div class="add_member_button">

            </div>
            <div class="archive_project_button">

            </div>
            <div class="delete_project_button">

            </div>
        </div>
        <div class="project_description_box">
            <h2>Project description</h2>
            <p>"description"</p>
        </div>
        <div class="colaborators_funder_ressource_boxes">
            <div class="coll_funder_box">
                <div class="coll_box">

                </div>
                <div class="funder_box">

                </div>
            </div>
            <div class="ressource_box">

            </div>
        </div>
    </div>
</body>
</html>    