<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/registerStyle.css">
    <title>Register</title>
</head>
<body>
    <div class="register_page">
        <h1> science HUB</h1>
        <div class="register_window">
            <h2> Sign Up </h2>
            <input class="register_input" type="text" placeholder="user name" maxlength="20"></input>
            <input class="register_input" type="text" placeholder="e-mail"></input>
            <input class="register_input" type="text" placeholder="password"></input>
            <input class="register_input" type="text" placeholder="repeat password"></input>
            <div class="register_button">
                <button type="button"><p>Sign Up</p></button>
            </div>
            <p>Back To <a href="#">Log In</a></p>

        </div>
    </div>
    
</body>
</html>