<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/registerStyle.css">
    <title>Register</title>
</head>
<body>

    <div class="register_page">
        <h1> science HUB</h1>
        <form class = "register_window" method="POST" action="/sign_up/complete_sign_up">
                <h2> Sign Up </h2>
                <div class="register_input">
                    <div class="register_inputfield">
                        <i class="fa-solid fa-circle-user"></i>
                        <input type="text" name="username" placeholder="user name" maxlength="50" required>
                    </div>
                    <div class="register_inputfield">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="email" placeholder="e-mail" required>
                    </div>
                    <div class="register_inputfield">
                        <i class="fa-regular fa-lock"></i>
                        <input type="password" name="password" placeholder="password" maxlength="50" required>
                    </div>
                    <div class="register_inputfield">
                        <i class="fa-regular fa-lock"></i>
                        <input type="password" name="repeat_password" placeholder="repeat password" maxlength="50" required>
                    </div>
                </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="flashes">
                                {% for message in messages %}
                                    <li>! {{ message }} !</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                <div class="register_button">
                    <button type="submit"><p>Sign Up</p></button>
                </div>
                <div class="register_backtext">
                    <p>Back To <a href="/login">Log In</a></p>
                </div>
        </form>
    </div>
    
</body>
</html>