<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/179535dd9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/registerStyle.css">
    <title>Register</title>
</head>
<body>
    <div class="register_page">
        <h1> science HUB</h1>
        <div class="register_window">
            <h2> Sign Up </h2>
            <div class="register_input">
                <div class="register_inputfield">
                    <i class="fa-solid fa-circle-user"></i>
                    <input type="text" placeholder="user name" maxlength="20"></input>
                </div>
                <div class="register_inputfield">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="e-mail" maxlength="20"></input>
                </div>
                <div class="register_inputfield">
                    <i class="fa-regular fa-lock"></i>
                    <input type="password" placeholder="password" maxlength="20"></input>
                </div>
                <div class="register_inputfield">
                    <i class="fa-regular fa-lock"></i>
                    <input type="password" placeholder="repeat password" maxlength="20"></input>
                </div>
            </div>
            <div class="register_button">
                <button type="button"><p>Sign Up</p></button>
            </div>
            <div class="register_backtext">
                <p>Back To <a href="#">Log In</a></p>
            </div>

        </div>
    </div>
    
</body>
</html>