<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Dashboard</title>
</head>

<body>

<h1>scienceHUB</h1>
<table class="projects-table">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Status</th>
            <th>Role</th>
            <th>Creator + Others</th>
            <th>Created On</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>alphabet txt</td>
            <td>Open</td>
            <td>Admin</td>
            <td>Me + 2 others</td>
            <td>11.12.2024</td>
        </tr>
        <tr>
            <td>literature rev</td>
            <td>Closed</td>
            <td>Writer</td>
            <td>Kane + 10 others</td>
            <td>05.01.2023</td>
        </tr>
    </tbody>
</table>

</body>
</html>
