<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Dashboard</title>
</head>

<body>

<h1>scienceHUB</h1>

   
<div class="table">
    <table class="projects-table">
        <caption>Projects</caption>

        <thead>
            <tr>
                <th>Project Name</th>
                <th>Status</th>
                <th>Role</th>
                <th>Creator + Members</th>
                <th>Created On</th>
            </tr>
        </thead>
    <tbody>
        <tr onclick="window.location.href='your_link_here';">
                <td class="projectsname">alphabet txt</td>
                <td>Open</td>
                <td>Admin</td>
                <td>Me + 2 Members</td>
                <td>11.12.2024</td>
            </button>    
        </tr>
        <tr onclick="window.location.href='your_link_here';">
            <td class="projectsname">literature rev</td>
            <td>Closed</td>
            <td>Writer</td>
            <td>Kane + 10 Members</td>
            <td>05.01.2023</td>
        </tr>
    </tbody>
    </table>

</div>

</body>
</html>
