

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Dashboard</title>
</head>

<body>

<h1>scienceHUB</h1>
<img src="assets/addIcon.png">

   
<div class="table">
    <table class="projects-table">
        <caption>
            <div class="captioncontent">
                <h2>
                    Projects
                </h2>
                <button type="button", onclick="window.location.href='/NewProject';">
                   
                    create new project
                </button>
            </div>
            <hr> </hr>
        </caption>
        
        <thead>
            <tr>
                <th>project name</th>
                <th>status</th>
                <th>role</th>
                <th>creator + members</th>
                <th>created on</th>
            </tr>
        </thead>
    <tbody>
        <tr class= "projectsButton", onclick="window.location.href='/project/aplabet_txt';">
                <td class="projectsname">alphabet txt</td>
                <td>Closed</td>
                <td>Admin</td>
                <td>Me + 2 Members</td>
                <td>05.01.2023</td>
            </button>    
        </tr>
        {% for list in textForColumn %}
        <tr  class= "projectsButton", onclick="window.location.href='/project/{{list[0]}}';">
            <td class="projectsname">{{list[0]}}</td>
            <td>{{list[1]}}</td>
            <td>{{list[2]}}</td>
            <td>{{list[3]}}</td>
            <td>{{list[4]}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</div>

</body>
</html>
